@(serviceForm: Form[Service], environments: Seq[(String, String)])

@import helper._

@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.f) } 

@main {
    
    <h1>Add a service</h1>
    
    @form(routes.Services.save()) {
        
        <fieldset>
        
            @inputText(serviceForm("description"), '_label -> "Service Description")
            @inputText(serviceForm("localTarget"), '_label -> "Local Target")
            @inputText(serviceForm("remoteTarget"), '_label -> "Remote Target")
            @inputText(serviceForm("timeoutms"), '_label -> "Timeout ms")
            @inputText(serviceForm("user"), '_label -> "User Auth")
            @inputText(serviceForm("password"), '_label -> "Password Auth")

            @select(
                serviceForm("environment"), 
                environments, 
                '_label -> "Environment", '_default -> "-- Choose a environment --",
                '_showConstraints -> false
            )
            
        </fieldset>
        
        <div class="actions">
            <input type="submit" value="Create this service" class="btn primary"> or 
            <a href="@routes.Services.list()" class="btn">Cancel</a> 
        </div>
        
    }
    
}
