@(id: Long, serviceForm: Form[Service], environments : Seq[(String, String)])

@import helper._

@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.f) }

@main {
    
    <h1>Edit service</h1>
    
    @form(routes.Services.update(id)) {
        
        <fieldset>
        
            @inputText(serviceForm("description"), '_label -> "Service Description")
            @inputText(serviceForm("localTarget"), '_label -> "Local Target")
            @inputText(serviceForm("remoteTarget"), '_label -> "Remote Target")
            @inputText(serviceForm("timeoutms"), '_label -> "Timeout ms")
            
            @select(
                serviceForm("environment"), 
                environments, 
                '_label -> "Environment", '_default -> "-- Choose a environment --",
                '_showConstraints -> false
            )
        
        </fieldset>
        
        <div class="actions">
            <input type="submit" value="Save this service" class="btn btn-primary"> or 
            <a href="@routes.Services.list()" class="btn">Cancel</a> 
        </div>
        
    }
    
    @form(routes.Services.delete(id), 'class -> "topRight") {
        <input type="submit" value="Delete this service" class="btn btn-danger">
    }
    
}
