@(id: Long, service: Form[Service], environments : Seq[(String, String)])

@import helper._

@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.f) }

@main {
    
    <h1>Edit service</h1>
    
    @form(routes.Services.update(id)) {

        @services.serviceForm(service, environments)

        <div class="actions">
            <input type="submit" value="Save this service" class="btn btn-primary"> or 
            <a href="@routes.Services.index" class="btn">Cancel</a>
        </div>
        
    }
    
    @form(routes.Services.delete(id), 'class -> "topRight") {
        <input type="submit" value="Delete this service" class="btn btn-danger">
    }
    
}
