@()
@import helper._


@main {

    <h2>Services</h2>

    <a class="btn btn-success" id="add" href="@routes.Services.create()">Add a new service</a>

    <div id="container" style="width: 100%; margin:auto">

        <table id='datas' class='table table-bordered table-condensed'>
            <thead>
                <tr>
                    <th>Description</th>
                    <th>Environment</th>
                    <th>Local Target</th>
                    <th>Remote Target</th>
                    <th>Timeout</th>
                    <th>Record Xml Data</th>
                    <th>Record Data</th>
                    <th>Edit</th>
                </tr>
            </thead>
        </table>

    </div>

    <script src="@routes.Assets.at("javascripts/jquery.dataTables.min.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/dataTable.bootstrap.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/soapower/services.js")" type="text/javascript"></script>
}