@(serviceForm : Form[Service], environments : Seq[(String, String)])()

@import helper._

@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.f) }


<fieldset>

@inputText(serviceForm("description"),
    '_label -> "Service Description",
    'required -> true,
    'class -> "input-xxlarge")

@inputText(serviceForm("localTarget"),
    '_label -> "Local Target",
    '_help -> "Enter service1 to have http://<serverSoapower>:<port>/soap/<environment>/service1",
    'class -> "input-xxlarge",
    'required -> true)

@inputText(serviceForm("remoteTarget"),
    '_label -> "Remote Target",
    'required -> true,
    'class -> "input-xxlarge")

@inputText(serviceForm("timeoutms"),
    'required -> true,
    'type -> "number",
    '_label -> "Timeout ms")

@checkbox(
    serviceForm("recordXmlData"),
    '_label -> "Record Xml Data",
    '_help -> "Check this if you want to record Xml Request and Xml Response for this service")

@checkbox(
    serviceForm("recordData"),
    '_label -> "Record Data",
    '_help -> "Check this if you want to record Data (time, responseTime, etc...) on Request / Response for this service. If it is unchecked, you can see requests on live page only and no stats are computed for this service. You must check this if you want to record XML Data. "
)

@select(
    serviceForm("environment"),
    environments,
    'required -> true,
    '_label -> "Environment", '_default -> "-- Choose a environment --",
    '_showConstraints -> false
)

</fieldset>


