<h2>Environments</h2>

<a class="btn btn-primary" href="#/environments/new"><i class="fa fa-plus"></i> Add a new environment</a>

<p>There are {{ environments.length }} environments.</p>

<sp-showresults></sp-showresults>

<table ng-table="tableParams" class="table table-striped table-bordered">
    <tr ng-repeat="line in $data">
        <td data-title="'Name'" sortable="'name'">
            {{line.name}}
        </td>
        <td data-title="'Xml Data : Start Record Hour'" sortable="'hourRecordXmlDataMin'">
            {{line.hourRecordXmlDataMin}}
        </td>
        <td data-title="'Xml Data : End Record Hour'" sortable="'hourRecordXmlDataMax'">
            {{line.hourRecordXmlDataMax}}
        </td>
        <td data-title="'Xml Data : nb days keep'" sortable="'nbDayKeepAllData'">
            {{line.nbDayKeepAllData}}
        </td>
        <td data-title="'All Data : nb days keep'" sortable="'nbDayKeepXmlData'">
            {{line.nbDayKeepXmlData}}
        </td>
        <td data-title="'Record Xml Data'" sortable="'recordXmlData'">
            {{line.recordXmlData}}
        </td>
        <td data-title="'Record Data'" sortable="'recordData'">
            {{line.recordData}}
        </td>

        <td data-title="'Edit'"><a href="#/environments/edit/{{ line.id }}"><i class="fa fa-pencil"></i></a></td>
    </tr>
</table>

