<div id="container" style="width: 100%; margin:auto">

    <sp-criterias soapactions="no"></sp-criterias>

    <i class="fa fa-info pointer" title="click to view help" ng-click="showTips=showTips==false">Tips </i>

    <div class="well" ng-show="showTips">
        <ul>
            <li>http://{{ hostname }}:{{ port }}/search/&lt;environment&gt;/&lt;soapAction&gt;/&lt;fromDate&gt;/&lt;toDate&gt;/</li>
            <li>Default page : /stats/all/all/all/today/ : all requests</li>
            <li>Change start date : /search/all/all/2012-12-10T10:00/today/all : all requests from 2012-12-10 at 10</li>
            <li>Advanced : /stats/dev/login/yesterday/today/ : Results for environment dev, soapAction login from
                yesterday, to today
            </li>
        </ul>
    </div>

    <hr>
    <p>There are {{ data.length }} stats.</p>

    <sp-showresults></sp-showresults>

    <table ng-table="tableParams" class="table table-striped table-bordered">
        <tr ng-repeat="line in $data">
            <td data-title="'Environment'" sortable="'env'">{{ line.env }}</td>
            <td data-title="'SoapAction'" sortable="'soapAction'">{{ line.soapAction }}</td>
            <td data-title="'Avg Time In Millis'" sortable="'avgTime'">{{ line.avgTime }}</td>
            <td data-title="'Threshold'" sortable="'threshold'">{{ line.threshold }}</td>
        </tr>
    </table>
</div>