<form name="myForm" role="form" class="form-horizontal">
    <input type="hidden" name="name" ng-model="group.id">

    <div class="form-group" ng-class="{error: myForm.name.$invalid}">
        <label for="nameGroup" class="col-lg-2 control-label">Name</label>
        <div class="col-lg-6">
            <input class="form-control" type="text" id="nameGroup" name="nameGroup" ng-pattern="namePattern" ng-model="group.name" required>
            <span ng-show="myForm.nameGroup.$error.required" class="help-inline">Required</span>
            <span class="error" ng-show="myForm.nameGroup.$error.pattern">Single word only!</span>
            <span class="help-inline">The name have to match this pattern : [a-zA-Z0-9]{1,200}</span>
        </div>
    </div>

    <div class="form-group">
        <div class="col-lg-offset-2 col-lg-10">
            <a href="#/groups" class="btn btn-default">Cancel</a>
            <button ng-click="save()" ng-disabled="isClean() || myForm.$invalid"
                    class="btn btn-primary">Save
            </button>
            <button ng-click="destroy()"
                    ng-show="group.id > 1" class="btn btn-danger">Delete
            </button>
            <div ng-show="group.id == 1" class="alert alert-info">
                <strong>Information!</strong> This is the default group, it can't be deleted, but you can change it's name
            </div>
        </div>
    </div>
</form>