<form name="myForm">
    <input type="hidden" name="name" ng-model="group.id">

    <div class="control-group" ng-class="{error: myForm.name.$invalid}">
        <label>Name</label>
        <input type="text" name="name" ng-model="group.name" class="input-xxlarge" required>
        <span ng-show="myForm.name.$error.required" class="help-inline">Required</span>
    </div>

    <br>
    <a href="#/groups" class="btn">Cancel</a>
    <button ng-click="save()" ng-disabled="isClean() || myForm.$invalid"
            class="btn btn-primary">Save
    </button>
    <button ng-click="destroy()"
            ng-show="group.id > 1" class="btn btn-danger">Delete
    </button>
    <div ng-show="group.id == 1" class="alert alert-info">
        <strong>Information!</strong> This is the default group, it can't be deleted, but you can change it's name
    </div>
</form>