<div id="container" style="width: 100%; margin:auto">

    <sp-criterias soapactions="yes"></sp-criterias>

    <i class="icon-info-sign pointer" title="click to view help" ng-click="showTips=showTips==false">Tips </i>

    <div class="well" ng-show="showTips">
        You can bookmark this page :
        <ul>
            <li>http://{{ hostname }}:{{ port }}/search/&lt;environment&gt;/&lt;soapAction&gt;/&lt;fromDate&gt;/&lt;toDate&gt;/</li>
            <li>Default page : /search/all/all/all/today/ : all requests</li>
            <li>Change start date : /search/all/all/2012-12-10/today/: all requests from 2012-12-10</li>
            <li>Advanced : /search/dev/login/yesterday/today/ : Results for environment dev, soapAction login from
                yesterday, to today
            </li>
        </ul>
        You can use advanced search :
        <ul>
            <li>Search at least two words, word1 or word2 : "word1|word2"</li>
            <li>Search a word with unknown character : "wo.d1"</li>
        </ul>
    </div>

    <p>There is {{ data.length }} results.</p>

    <sp-showresults></sp-showresults>

    <sp-replay-edit></sp-replay-edit>

    <table class="table table-striped table-bordered">
        <thead>
            <tr title="click to order">
                <td ng-click="predicate = 'status'; reverse=!reverse">Status</td>
                <td ng-click="predicate = 'env'; reverse=!reverse">Environment</td>
                <td ng-click="predicate = 'sender'; reverse=!reverse">Sender</td>
                <td ng-click="predicate = 'soapAction'; reverse=!reverse">SoapAction</td>
                <td ng-click="predicate = 'startTime'; reverse=!reverse">StartTime</td>
                <td ng-click="predicate = 'time'; reverse=!reverse">TimeInMillis</td>
                <td>Request</td>
                <td>Response</td>
                <td>Replay</td>
            </tr>
        </thead>
        <tr ng-repeat="line in data | filter:filter | orderBy:predicate:reverse | limitTo:nbResults">
            <td style="width: '60px'"><sp-status status="line.status"></sp-status></td>
            <td style="width: '100px'">{{ line.env }}</td>
            <td style="width: '100px'">{{ line.sender }}</td>
            <td style="width: '100px'">{{ line.soapAction }}</td>
            <td style="width: '200px'">{{ line.startTime }}</td>
            <td style="width: '100px'">{{ line.time }}</td>
            <td style="width: '80px'"><sp-request></td>
            <td style="width: '80px'"><sp-response></td>
            <td style="width: '80px'"><sp-replay></td>
        </tr>
    </table>

</div>