@(environment: String, soapAction: String, minDate: String, maxDate : String, status: String, environments : Seq[(String, String)], soapActions:Seq[(String, String)], statusList: Seq[(String, String)], isStatsOnly : Boolean)

@import helper._

@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.f) }

@main {

 @criterias(minDate, maxDate, environment, soapAction, status, environments, soapActions, statusList)

  <label class="checkbox">
    <input id="isStatsOnly" name="isStatsOnly" type="checkbox" @if(isStatsOnly) { checked }> Stats Only
  </label>

  <div id="container">
  </div>

  <script src="@routes.Assets.at("javascripts/highcharts/highcharts.js")" type="text/javascript"></script>
  <script src="@routes.Assets.at("javascripts/jquery-ui-1.8.16.custom.min.js")" type="text/javascript"></script>
  <script src="@routes.Assets.at("javascripts/soapower/analysis.js")" type="text/javascript"></script>
  <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/jquery-ui-1.8.16.custom.css")">

}