<h2>Services</h2>

<a class="btn btn-primary" href="#/services/new/{{groupName}}"><i class="icon-plus-sign"></i>Add a new service</a>

<p>There is {{ services.length }} services.</p>

<sp-showresults></sp-showresults>

<table class="table table-striped table-bordered table-responsive">
    <thead>
        <tr title="click to order">
            <td>Edit</td>
            <td ng-click="predicate = 'env'; reverse=!reverse">Environment</td>
            <td ng-click="predicate = 'description'; reverse=!reverse">Description</td>
            <td ng-click="predicate = 'localTarget'; reverse=!reverse">Local Target</td>
            <td ng-click="predicate = 'remoteTarget'; reverse=!reverse">Remote Target</td>
            <td ng-click="predicate = 'timeoutInMs'; reverse=!reverse">Timeout in</td>
            <td ng-click="predicate = 'recordXmlData'; reverse=!reverse">Record Xml</td>
            <td ng-click="predicate = 'recordData'; reverse=!reverse">Record Data</td>
        </tr>
    </thead>

    <tr ng-repeat="line in services | filter:filter | orderBy:predicate:reverse | limitTo:nbResults">
        <td><a href="#/services/edit/{{ groupName }}/{{ line.id }}"><i class="icon-pencil"></i></a></td>
        <td>{{ line.env }}</td>
        <td>{{ line.description }}</td>
        <td>{{ line.localTarget }}</td>
        <td>{{ line.remoteTarget }}</td>
        <td>{{ line.timeoutInMs }}</td>
        <td>{{ line.recordXmlData }}</td>
        <td>{{ line.recordData }}</td>
    </tr>
</table>
