<h3>Deleting data</h3>

<form name="deleteForm" novalidate>

    <div class="form-group">
        <label for="from"> From : </label>
        <input ng-model="mindate" name="mindate" class="input-small" type="text" ng-click="showmindate = !showmindate"/>
        <div ng-show="showmindate" >
            <datetimepicker ng-model="mindatecalendar" data-on-set-time="onMinTimeSet" starting-day="1" data-datetimepicker-config="{ minuteStep: 5 }"></datetimepicker>
        </div>
        <input class="input-small" type="hidden" id="from" ng-model="mindatecalendar" ng-click="showmindate = !showmindate"/>
    </div>

    <div class="form-group">
        <label for="To" > To : </label>
        <input name="maxdate" ng-model="maxdate" class="input-small" type="text" ng-click="showmaxdate = !showmaxdate" />
        <div ng-show="showmaxdate" >
            <datetimepicker ng-model="maxdatecalendar" data-on-set-time="onMaxTimeSet" starting-day="1" data-datetimepicker-config="{ minuteStep: 5 }"></datetimepicker>
        </div>
        <input class="input-small" type="hidden" id="to" ng-model="maxdate" ng-click="showmaxdate = !showmaxdate"/>
    </div>

    <div class="form-group">
        <label class="control-label" for="environment"> Environment : </label>

        <div class="controls">
            <select ui-select2 ng-model="envir" id="environment" style="width:30%;" ng-required="true">
                <option ng-repeat="environment in environments" value="{{ environment.name }}">{{ environment.name }}</option>
            </select>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label"> Type Action for selected environment between min and max date : </label>

        <div class="controls">
            <label class="radio" ng-class="{checked: deleteForm.typeAction == 'xml-data'}">
                <input type="radio" ng-model="deleteForm.typeAction" value="xml-data"> Only Content Data
            </label>
            <label class="radio" ng-class="{checked: deleteForm.typeAction == 'all-data'}">
                <input type="radio" ng-model="deleteForm.typeAction" value="all-data"> All Data
            </label>
        </div>
    </div>

    <button ng-click="submitDelete()" ng-disabled="deleteForm.$invalid" class="btn btn-danger">Delete</button>

    <div class="alert alert-info" ng-show="showRunningDelete">Wait... Deleting...</div>
    <div class="alert alert-{{responseDelete.code}}" ng-show="showResponseDelete">{{responseDelete.text}}</div>

</form>



