<h3>Download Configuration</h3>
<a class="btn btn-default" href="{{urlDlConfig}}"><i class="fa fa-download"></i> Download configuration as csv File</a>

<a href="{{urlDlRequestDataStatsEntries}}" class="btn btn-default"><i class="fa fa-download"></i> Download RequestData Stat Entries as csv File</a>
<hr>

<h3>Upload Configuration</h3>
<p class="muted"><span class="label label-info">Tips </span>
    Download the configuration above to have an example of csv file.</p>

<div class="well">
    <ul>
        <li>A service is identified by localTarget and EnvironmentName. If the service already exist in db, it will be
            ignored (no update)
        </li>
        <li>A environment is identified by his name, if an environment exist in db, it will be ignored</li>
        <li>IDs in csv file uploaded are ignored</li>
        <li>You can upload a RequestData Stats File</li>
    </ul>
</div>

<form action="{{urlUploadConfiguration}}" ng-upload-loading="startUpload()" ng-upload="uploadComplete(content)">
    <input type="file" name="fileUploaded"/>
    <button type="submit" class="btn btn-default" ng-disabled="$isLoading">
        <i class="fa fa-upload"></i> Upload Configuration
    </button>
</form>

<div class="alert alert-info" ng-show="showUploadRunning">Wait... Uploading.</div>
<div class="alert alert-{{response.code}}" ng-show="showResponseUpload">{{response.text}}</div>

<hr>
<h3>Deleting data</h3>

<form name="deleteForm" class="form-horizontal" novalidate>

    <div class="form-group">
        <label for="from"> From : </label>
        <input ng-model="mindate" name="mindate" class="input-small" type="text" ng-click="showmindate = !showmindate"/>
        <div ng-show="showmindate" >
            <datetimepicker ng-model="mindatecalendar" data-on-set-time="onMinTimeSet" starting-day="1" data-datetimepicker-config="{ minuteStep: 5 }"></datetimepicker>
        </div>
        <input class="input-small" type="hidden" id="from" ng-model="mindatecalendar" ng-click="showmindate = !showmindate"/>
    </div>

    <div class="form-group">
        <label for="To" > To : </label>
        <input name="maxdate" ng-model="maxdate" class="input-small" type="text" ng-click="showmaxdate = !showmaxdate" />
        <div ng-show="showmaxdate" >
            <datetimepicker ng-model="maxdatecalendar" data-on-set-time="onMaxTimeSet" starting-day="1" data-datetimepicker-config="{ minuteStep: 5 }"></datetimepicker>
        </div>
        <input class="input-small" type="hidden" id="to" ng-model="maxdate" ng-click="showmaxdate = !showmaxdate"/>
    </div>

    <div class="form-group">
        <label class="control-label" for="environment"> Environment : </label>

        <div class="controls">
            <select ui-select2 ng-model="deleteForm.environment" id="environment" ng-required
                    ng-options="environment.name for environment in environments" style="width:30%;"></select>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label"> Type Action for selected environment between min and max date : </label>

        <div class="controls">
            <label class="radio" ng-class="{checked: deleteForm.typeAction == 'xml-data'}">
                <input type="radio" ng-model="deleteForm.typeAction" value="xml-data"> Only Content Data
            </label>
            <label class="radio" ng-class="{checked: deleteForm.typeAction == 'all-data'}">
                <input type="radio" ng-model="deleteForm.typeAction" value="all-data"> All Data
            </label>
        </div>
    </div>

    <button ng-click="submitDelete()" ng-disabled="deleteForm.$invalid" class="btn btn-danger">Delete</button>

    <div class="alert alert-info" ng-show="showRunningDelete">Wait... Deleting...</div>
    <div class="alert alert-{{responseDelete.code}}" ng-show="showResponseDelete">{{responseDelete.text}}</div>

</form>



