@(minDate: String, maxDate: String, environment: String, soapAction: String, status: String,
environments : Seq[(String, String)], soapActions:Seq[(String, String)], statusList: Seq[(String, String)])()

@import helper._

<form class="form-inline">

    <label for="from"> From : </label><input class="input-small" type="text" id="from" value="@minDate" />
    <label for="To"> To : </label><input class="input-small" type="text" id="to" value="@maxDate" />

    <a id="today" href="#">Today</a>&nbsp;&nbsp;&nbsp;&nbsp;

    @simpleSelect(
        "Environment : ",
        "environmentSelect",
        "environmentSelect",
        environment,
        environments,
        '_label -> "Environment",
        '_default -> "all"
    )

    @simpleSelect(
        "SoapAction : ",
        "soapActionSelect",
        "soapActionSelect",
        soapAction,
        soapActions,
        '_label -> "SoapAction",
        '_default -> "all"
    )

    @simpleSelect(
        "Status : ",
        "statusSelect",
        "statusSelect",
        status,
        statusList,
        '_label -> "Status",
        '_default -> "all",
        '_class -> "input-small"
    )
</form>
