<h2>Groups</h2>

<a class="btn btn-primary" href="#/mockgroups/new"><i class="icon-plus-sign"></i> Add a new Mock Group</a>

<p>There is {{ mockgroups.length }} Mock Groups.</p>

<sp-showresults></sp-showresults>

<table class="table table-striped table-bordered">
    <thead>
        <tr title="click to order">
            <td ng-click="predicate = 'name'; reverse=!reverse">Name</td>
            <td>Edit</td>
            <td>Mocks</td>
        </tr>
    </thead>
    <tr ng-repeat="line in mockgroups | filter:filter | orderBy:predicate:reverse | limitTo:nbResults">
        <td>{{ line.name }}</td>
        <td><a href="#/mockgroups/edit/{{ line.id }}"><i class="icon-pencil"></i></a></td>
        <td><a href="#/mocks/{{ line.name }}">View Mocks</a></td>
    </tr>
</table>