#warningIE {
    display:block!important;
    background-image:url('/assets/images/nomoreie.png');
    background-repeat:no-repeat;
    height:2000px;
    text-align: center;
    position:absolute;
    width:100%;
    z-index:1000
}
