<h2>SoapActions</h2>

<button class="btn btn-primary" ng-click="regenerate()" ng-disabled="btnRegenerateDisabled">
    <i class="fa fa-refresh"></i> Generate List
</button>

{{ info }}

<p>There is {{ soapActions.length }} SoapActions.</p>

<sp-showresults></sp-showresults>

<table class="table table-striped table-bordered">
    <thead>
        <tr title="click to order">
            <td ng-click="predicate = 'name'; reverse=!reverse">SoapAction Name</td>
            <td ng-click="predicate = 'thresholdms'; reverse=!reverse">SoapAction Threshold in ms</td>
            <td>Edit</td>
        </tr>
    </thead>
    <tr ng-repeat="line in soapActions | filter:filter | orderBy:startTime:true | limitTo:nbResults">
        <td>{{ line.name }}</td>
        <td>{{ line.thresholdms }}</td>
        <td><a href="#/soapactions/edit/{{ line.id }}"><i class="fa fa-pencil"></i></a></td>
    </tr>
</table>
