@(id: Long, group: Form[Group])

@import helper._

@main {
    
    <h1>Edit group</h1>
    
    @form(routes.Groups.update(id), 'class -> "form-horizontal") {
        
        @groups.groupForm(group)
        
        <div class="actions">
            <input type="submit" value="Save this group" class="btn btn-primary"> or 
            <a href="@routes.Groups.index" class="btn">Cancel</a>
        </div>
        
    }
    
    @form(routes.Groups.delete(id), 'class -> "topRight") {
        <input type="submit" value="Delete this group" class="btn btn-danger">
    }
    
}
