<form name="myForm">
    <input type="hidden" name="name" ng-model="serviceAction.id">

    <div class="form-group" ng-class="{error: myForm.name.$invalid}">
        <label>ServiceAction Name : {{ serviceAction.name }}</label>
    </div>

    <div class="form-group" ng-class="{error: myForm.thresholdms.$invalid}">
        <label>ServiceAction Threshold in ms</label>
        <input type="number" name="thresholdms" ng-model="serviceAction.thresholdms"
               class="input-xxlarge" required>
        <span ng-show="myForm.thresholdms.$error.required" class="help-inline">Required</span>
    </div>

    <br>
    <a href="#/serviceactions" class="btn btn-default">Cancel</a>
    <button ng-click="save()" ng-disabled="isClean() || myForm.$invalid"
            class="btn btn-primary">Save
    </button>
</form>