<h2>Thresholds</h2>

<button class="btn btn-primary" ng-click="regenerate()" ng-disabled="btnRegenerateDisabled">
    <i class="fa fa-refresh"></i> Generate List
</button>

{{ info }}

<p>There are {{ serviceActions.length }} Service Actions.</p>

<sp-showresults></sp-showresults>

<table ng-table="tableParams" class="table table-striped table-bordered">
    <tr ng-repeat="line in $data">
        <td data-title="'ServiceAction Name'" sortable="'name'">
            {{line.name}}
        </td>
        <td data-title="'ServiceAction Threshold in ms'" sortable="'thresholdms'">
            {{line.thresholdms}}
        </td>
        <td data-title="'ServiceAction Groups'" sortable="'groups'">
            {{line.groups}}
        </td>
        <td data-title="'Edit'"><a href="#/serviceactions/edit/{{ line.id }}"><i class="fa fa-pencil"></i></a></td>
    </tr>
</table>
