@(currentPage: Page[(SoapAction)], currentOrderBy: Int, currentFilter: String)(implicit flash: play.api.mvc.Flash)

@****************************************
* Helper generating navigation links    *
****************************************@
@link(newPage: Int, newOrderBy: Option[Int] = None) = @{
    routes.SoapActions.list(newPage, newOrderBy.map { orderBy =>
        if(orderBy == scala.math.abs(currentOrderBy)) -currentOrderBy else orderBy
    }.getOrElse(currentOrderBy), currentFilter)
    
}


@**********************************
* Helper generating table headers *
***********************************@
@header(orderBy: Int, title: String) = {
    <th class="col@orderBy header @if(scala.math.abs(currentOrderBy) == orderBy) @{if(currentOrderBy < 0) "headerSortDown" else "headerSortUp"}">
        <a href="@link(0, Some(orderBy))">@title</a>
    </th>
}

@main {

    <h1>@Messages("soapActions.list.title", currentPage.total)</h1>

    @flash.get("success").map { message =>
        <div class="alert warning">
            <strong>Done!</strong> @message
        </div>
    }

    <div id="actions">
        
        @helper.form(action=routes.SoapActions.list()) {
            <input type="search" id="searchbox" name="f" value="@currentFilter" placeholder="Filter by soapAction Soap Action...">
            <input type="submit" id="searchsubmit" value="Filter by name" class="btn btn-primary">
        }
        <a class="btn btn-success" id="add" href="@routes.SoapActions.regenerate()">Regenerate List</a>
        <p class="muted"><span class="label label-info">Info </span>
          The regeneration add missing soapAction in the list below. No update for existing values.</p>
    </div>
    
    @Option(currentPage.items).filterNot(_.isEmpty).map { soapActions =>
        
        <table class="table table-striped table-bordered" >
            <thead>
                <tr>
                    @header(2, "SoapAction Name")
                    @header(2, "SoapAction Threshold in ms")
                </tr>
            </thead>
            <tbody>

                @soapActions.map { 
                    case (soapAction) => {
                        <tr>
                            <td><a href="@routes.SoapActions.edit(soapAction.id.get)">@soapAction.name</a></td>
                            <td><a href="@routes.SoapActions.edit(soapAction.id.get)">@soapAction.thresholdms</a></td>
                        </tr>
                    }
                }

            </tbody>
        </table>

        <div id="pagination" class="pagination">
            <ul>
                @currentPage.prev.map { page =>
                    <li class="prev">
                        <a href="@link(page)">&larr; Previous</a>
                    </li> 
                }.getOrElse {
                    <li class="prev disabled">
                        <a>&larr; Previous</a>
                    </li>
                }
                <li class="current">
                    <a>Displaying @(currentPage.offset + 1) to @(currentPage.offset + soapActions.size) of @currentPage.total</a>
                </li>
                @currentPage.next.map { page =>
                    <li class="next">
                        <a href="@link(page)">Next &rarr;</a>
                    </li> 
                }.getOrElse {
                    <li class="next disabled">
                        <a>Next &rarr;</a>
                    </li>
                }
            </ul>
        </div>
        
    }.getOrElse {
        
        <div class="well">
            <em>Nothing to display</em>
        </div>
        
    }
        
}

            