<div>

    <form class="form-inline" role="form">

        <div class="form-group">
            <label for="from"> From : </label>
            <input ng-model="mindate" name="mindate" class="input-small" type="text" ng-click="showmindate = !showmindate"/>
            <div ng-show="showmindate" >
                <datetimepicker ng-model="mindatecalendar" data-on-set-time="onMinTimeSet" starting-day="1" data-datetimepicker-config="{ minuteStep: 5 }"></datetimepicker>
            </div>
            <input class="input-small" type="hidden" id="from" ng-model="mindatecalendar" ng-click="showmindate = !showmindate"/>
        </div>

        <div class="form-group">
        <label for="To"> To : </label>
        <input name="maxdate" ng-model="maxdate" class="input-small" type="text" ng-click="showmaxdate = !showmaxdate" />
        <div ng-show="showmaxdate" >
            <datetimepicker ng-model="maxdatecalendar" data-on-set-time="onMaxTimeSet" starting-day="1" data-datetimepicker-config="{ minuteStep: 5 }"></datetimepicker>
        </div>
        <input class="input-small" type="hidden" id="to" ng-model="maxdate" ng-click="showmaxdate = !showmaxdate"/>
        </div>

        <div class="form-group">
            <select class="form-control" ui-select2 ng-model="environment">
                <option ng-repeat="e in environments" value="{{ e.name }}">{{ e.name }}</option>
            </select>
        </div>

        <div style="width:30%;" class="form-group">
            <select style="display:block;" ui-select2 data-placeholder="Pick a serviceaction"  ui-select2 class="form-control" ng-model="serviceaction">
                <option></option>
                <option>Not yet implemented</option>
            </select>
        </div>

        <div style="width:30%;" class="form-group">
            <select style="display:block;" ng-model="code" ui-select2 class="form-control" ng-change="changeStatus()">
                <option ng-repeat="c in codes" value="{{ c }}">{{ c }}</option>
            </select>
        </div>

        <div class="form-group">
            <button class="btn btn-primary" ng-click="changeCriteria()">Filter</button>
        </div>
        <br>

    </form>

</div>