<div>
    <form name="form" role="form">
        <div class="form-inline">
            <div style="width:30%;" class="form-group">
                <select style="display:block;" ui-select2 data-placeholder="Pick an environment" class="form-control" ng-model="environment">
                    <option></option>
                    <option>Not yet implemented</option>
                </select>
            </div>
            <div style="width:30%;" class="form-group">
                <select style="display:block;" ui-select2 data-placeholder="Pick a serviceaction"  ui-select2 class="form-control" ng-model="serviceaction">
                    <option></option>
                    <option>Not yet implemented</option>
                </select>
            </div>

            <div style="width:30%;" class="form-group">
                <select style="display:block;" ng-model="code" ui-select2 class="form-control" ng-change="changeStatus()">
                    <option ng-repeat="c in codes" value="{{ c }}">{{ c }}</option>
                </select>
            </div>
        </div>
        <br>
        <div class="form-inline">
            <div class="form-group">
                <textarea ng-change="changeSearch()" class="form-control" ng-model="search" placeholder="Search in request / response"></textarea>
            </div>
            <div class="form-group">
                <label>
                    <input type="checkbox" ng-model="request" ng-checked="true" ng-change="changeRequest()">Request
                </label>
            </div>
            <div class="form-group">
                <label>
                    <input type="checkbox" ng-model="response" ng-checked="true" ng-change="changeResponse()">Response
                </label>
            </div>
        </div>
    </form>
    <br>
</div>