<div class="row">
    <div class="col-md-4">
        <form role="form">
            <div class="form-group">
                <label class="control-label hidden-xs">Filter&nbsp;:&nbsp;</label>

                <div class="input-group">
                    <input type="text" class="form-control " ng-model="tableFilter">

                    <div class="input-group-btn">
                        <button ng-click="tableFilter=''" class="btn btn-default"><i class="fa fa-times-circle"></i>
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <br/>
</div>
