<h2>{{ title }}</h2>
<form name="myForm" role="form" class="form-horizontal">
    <input type="hidden" name="name" ng-model="mockGroup.id">

    <div class="form-group" ng-class="{error: myForm.group.$invalid}">
        <label for="group" class="col-lg-2 control-label">Group </label>
        <div class="col-lg-4">
            <select class="form-control" ng-model="mockGroup.group" id="group" name="group" ng-options="group.name for group in groups" required ng-selected="{{ mockGroup.groupId == group.id }}"></select>
            <span ng-show="myForm.group.$error.required" class="label label-danger">Required</span>
        </div>
    </div>
    
    <div class="form-group" ng-class="{error: myForm.name.$invalid}">
        <label for="nameMockGroup" class="col-lg-2 control-label">Name</label>
        <div class="col-lg-6">
            <input class="form-control" type="text" id="nameMockGroup" name="nameMockGroup" ng-pattern="namePattern" ng-model="mockGroup.name" required>
            <span ng-show="myForm.nameMockGroup.$error.required" class="label label-danger">Required</span>
            <span class="label label-danger" ng-show="myForm.nameMockGroup.$error.pattern">Single word only!</span>
            <span class="help-block">The name have to match this pattern : [a-zA-Z0-9]{1,200}</span>
        </div>
    </div>

    <div class="form-group">
        <div class="col-lg-offset-2 col-lg-10">
            <a href="#/mockgroups" class="btn btn-default">Cancel</a>
            <button ng-click="save()" ng-disabled="isClean() || myForm.$invalid" class="btn btn-primary">
                Save
            </button>
            <span ng-show="mockGroup.id > 1">
                <button ng-click="askDelete=true" ng-hide="askDelete" class="btn btn-danger">
                    Delete
                </button>
                <button ng-click="askDelete=false" ng-show="askDelete" class="btn btn-danger">
                    No, I don't want to delete this. <i class="fa fa-reply"></i>
                </button>
                <button ng-click="destroy()" ng-show="askDelete" class="btn btn-danger">
                    Yes, I confirm <i class="fa fa-exclamation-triangle"></i>
                </button>
            </span>
            <div ng-show="mockGroup.id == 1" class="alert alert-info">
                <strong>Information!</strong> This is the default mocking group, it can't be deleted, but you can change it's name
            </div>

        </div>
    </div>
</form>