<h2>{{ title }}</h2>
<form name="myForm" role="form" class="form-horizontal">
    <input class="form-control" type="hidden" ng-model="mock.id">

    <div class="form-group" ng-class="{error: myForm.group.$invalid}">
        <label class="col-lg-2 control-label">Mock Group </label>
        <div class="col-lg-4">
            <label class="control-label">{{ mock.mockGroupName }}</label>
        </div>
    </div>

    <div class="form-group" ng-class="{error: myForm.nameMock.$invalid}">
        <label for="name" class="col-lg-2 control-label">Name</label>
        <div class="col-lg-4">
            <input class="form-control" id="name" type="text" name="nameMock" ng-model="mock.name"  required>
            <span ng-show="myForm.nameMock.$error.required" class="label label-danger">Required</span>
        </div>
    </div>

    <div class="form-group" ng-class="{error: myForm.description.$invalid}">
        <label for="description" class="col-lg-2 control-label">Description</label>
        <div class="col-lg-4">
            <textarea class="form-control" id="description" name="description" ng-model="mock.description" rows="5" required></textarea>
            <span ng-show="myForm.description.$error.required" class="label label-danger">Required</span>
        </div>
    </div>

    <div class="form-group" ng-class="{error: myForm.criteria.$invalid}">
        <label for="criteria" class="col-lg-2 control-label">criteria</label>
        <div class="col-lg-4">
            <input class="form-control" type="text" id="criteria" name="criteria" ng-model="mock.criteria" required>
            <span ng-show="myForm.criteria.$error.required" class="label label-danger">Required</span>
        </div>
        <div class="col-lg-6 help-block">If the content of the request contains this "criteria", the response
            of this mock is return by Soapower. This is not a Regex or a XPath Query, juste a simple search.
            But, if you put only <b>*</b> in this field, the mock will be used regardless of the content of the request.
        </div>
    </div>

    <div class="form-group" ng-class="{error: myForm.timeoutms.$invalid}">
        <label for="timeoutms" class="col-lg-2 control-label">Timeout in ms</label>
        <div class="col-lg-4">
            <input class="form-control" type="number" id="timeoutms" name="timeoutms" ng-model="mock.timeoutms" required>
            <span ng-show="myForm.timeoutms.$error.required" class="label label-danger">Required</span>
            <span ng-show="myForm.timeoutms.$error.url" class="label label-danger">Not a URL</span>
        </div>
        <div class="col-lg-6 help-block">Soapower will wait n milliseconds before sending the response. If
            you want a reponse instantly, write <b>0</b> here. 10 seconds (10000 ms) is the maximum allowed.
        </div>
    </div>

    <div class="form-group" ng-class="{error: myForm.httpStatus.$invalid}">
        <label for="httpStatus" class="col-lg-2 control-label">HTTP Status</label>
        <div class="col-lg-4">
            <input class="form-control" type="number" id="httpStatus" name="httpStatus" ng-model="mock.httpStatus" required>
            <span ng-show="myForm.httpStatus.$error.required" class="label label-danger">Required</span>
            <span ng-show="myForm.httpStatus.$error.url" class="label label-danger">Not a valid Http Status</span>
            <span class="help-block">Numeric Only</span>
        </div>
        <div class="col-lg-6 help-block">HTTP Status of the response. You have to write <b>200</b> for a reponse with
            a status <b>OK</b>, <b>401</b> for a <b>Bad Request Status</b>, etc... See all Status Code <a href="http://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html">here</a>.
        </div>
    </div>

    <div class="form-group" ng-class="{error: myForm.httpHeaders.$invalid}">
        <label for="httpHeaders" class="col-lg-2 control-label">HTTP Headers</label>
        <div class="col-lg-4">
            <textarea class="form-control" id="httpHeaders" name="httpHeaders" ng-model="mock.httpHeaders" rows="3" cols="20"></textarea>
        </div>
        <div class="col-lg-6 help-block">One header per line, example:
<pre>Content-Type -> text/xml
charset -> utf-8
</pre>

        </div>
    </div>

    <div class="form-group" ng-class="{error: myForm.response.$invalid}">
        <label for="response" class="col-lg-2 control-label">Response</label>
        <div class="col-lg-10">
            <textarea class="form-control" id="response" name="response" ng-model="mock.response" rows="10" cols="50" required></textarea>
            <span ng-show="myForm.response.$error.required" class="label label-danger">Required</span>
        </div>
    </div>

    <div class="form-group">
        <div class="col-lg-offset-2 col-lg-10">
            <a href="#/mocks/list/{{ mock.mockGroupName }}/{{ groups }}" class="btn btn-default">Cancel</a>
            <button ng-click="save()" ng-disabled="isClean() || myForm.$invalid" class="btn btn-primary">
                Save
            </button>

            <span ng-show="mock.id > 0">
                <button ng-click="askDelete=true" ng-hide="askDelete" class="btn btn-danger">
                    Delete
                </button>
                <button ng-click="askDelete=false" ng-show="askDelete" class="btn btn-danger">
                    No, I don't want to delete this. <i class="fa fa-reply"></i>
                </button>
                <button ng-click="destroy()" ng-show="askDelete" class="btn btn-danger">
                    Yes, I confirm <i class="fa fa-exclamation-triangle"></i>
                </button>
            </span>
        </div>
    </div>
</form>