<h2>Mocks of {{ mockGroupName }}</h2>

<a class="btn btn-primary" href="#/mocks/new/{{ mockGroupName }}/{{ groups }}"><i class="fa fa-plus"></i> Add a new mock</a>

<p>There are {{ mocks.length }} mocks.</p>

<sp-showresults></sp-showresults>

<table ng-table="tableParams" class="table table-striped table-bordered">
    <tr ng-repeat="line in $data">
        <td data-title="'Name'" sortable="'name'">
            {{line.name}}
        </td>
        <td data-title="'Description'" sortable="'description'">
            {{line.description}}
        </td>
        <td data-title="'Timeout in ms'" sortable="'timeoutms'">
            {{line.timeoutms}}
        </td>
        <td data-title="'Criteria'" sortable="'criteria'">
            {{line.criteria}}
        </td>
        <td data-title="'HTTP Status'" sortable="'httpStatus'">
            {{line.httpStatus}}
        </td>
        <td data-title="'Edit'"><a href="#/mocks/edit/{{ mockGroupName }}/{{ line._id.$oid }}/{{ groups }}"><i class="fa fa-pencil"></i></a></td>
    </tr>
</table>
