@(search : String)(implicit request: RequestHeader)

@main {
    <input type="hidden" id="urlWS" value="@routes.Live.socket().webSocketURL()">
    <input type="hidden" id="search" value="@search">

    <script src="@routes.Assets.at("javascripts/jquery.dataTables.min.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/dataTable.bootstrap.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/soapower/live.js")" type="text/javascript"></script>
}
