@(id: Long, environmentForm: Form[Environment])

@import helper._

@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.f) }

@main {
    
    <h1>Edit environment</h1>
    
    @form(routes.Environments.update(id)) {
        
        <fieldset>
        
            @inputText(environmentForm("name"), '_label -> "Environment name")
                    
        </fieldset>
        
        <div class="actions">
            <input type="submit" value="Save this environment" class="btn btn-primary"> or 
            <a href="@routes.Environments.list()" class="btn">Cancel</a> 
        </div>
        
    }
    
    @form(routes.Environments.delete(id), 'class -> "topRight") {
        <input type="submit" value="Delete this environment" class="btn btn-danger">
    }
    
}
