@(environmentForm : Form[Environment], groups : Seq[(String, String)])()

@import helper._

@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.f) }

<fieldset>

    @inputText(environmentForm("name"), '_label -> "Environment name", '_showErrors -> true)
    @inputText(environmentForm("hourRecordXmlDataMin"), '_label -> "Xml Data : Start Record Hour", '_showErrors -> true)
    @inputText(environmentForm("hourRecordXmlDataMax"), '_label -> "Xml Data : End Record Hour", '_showErrors -> true)
    @inputText(environmentForm("nbDayKeepXmlData"), '_label -> "Xml Data : Nb days keep", '_showErrors -> true)
    @inputText(environmentForm("nbDayKeepAllData"), '_label -> "All Data : Nb days keep", '_showErrors -> true)

    @checkbox(
        environmentForm("recordXmlData"),
        '_label -> "Record Xml Data",
        '_help -> "Check this if you want to record Xml Request and Xml Response for ALL services attached to this environment")

    @checkbox(
        environmentForm("recordData"),
        '_label -> "Record Data",
        '_help -> "Check this if you want to record Data (startTime, responseTime, etc...) on Request for ALL services attached to this environment. If it is unchecked, you can see requests on live page only and no stats are computed for this environment. You must check this if you want to record XML Data.")

		@select(
	    environmentForm("groupId"),
	    groups,
	    'required -> true,
	    '_label -> "Group", '_default -> "-- Choose a environment --",
	    '_showConstraints -> false
	)
	
</fieldset>