@(environmentForm : Form[Environment])()

@import helper._

<fieldset>

    @inputText(environmentForm("name"), '_label -> "Environment name", '_showErrors -> true)
    @inputText(environmentForm("hourRecordXmlDataMin"), '_label -> "Xml Data : Start Record Hour", '_showErrors -> true)
    @inputText(environmentForm("hourRecordXmlDataMax"), '_label -> "Xml Data : End Record Hour", '_showErrors -> true)
    @inputText(environmentForm("nbDayKeepXmlData"), '_label -> "Xml Data : Nb days keep", '_showErrors -> true)
    @inputText(environmentForm("nbDayKeepAllData"), '_label -> "All Data : Nb days keep", '_showErrors -> true)

</fieldset>