@()
@import helper._

@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.f) }

@main {

    <h2>Environments</h2>
    <div id="container" style="width: 100%; margin:auto">

        <table id='datas' class='table table-bordered table-condensed'>
            <thead>
                <tr>
                    <th>Environment Name</th>
                    <th>Xml Data : Start Record Hour</th>
                    <th>Xml Data : End Record Hour</th>
                    <th>Xml Data : nb days keep</th>
                    <th>All Data : nb days keep</th>
                    <th>Edit</th>
                </tr>
            </thead>
        </table>

    </div>

    <script src="@routes.Assets.at("javascripts/jquery.dataTables.min.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/dataTable.bootstrap.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/soapower/environments.js")" type="text/javascript"></script>
}