
<h2>Services</h2>

<button class="btn btn-primary">Add a new service</button>

<div id="container" style="width: 100%; margin:auto">

    <table id='datas' class='table table-bordered table-condensed'>
        <thead>
        <tr>
            <th>Description</th>
            <th>Environment</th>
            <th>Local Target</th>
            <th>Remote Target</th>
            <th>Timeout</th>
            <th>Record Xml Data</th>
            <th>Record Data</th>
            <th>Edit</th>
        </tr>
        </thead>
    </table>

</div>