@()(implicit request: RequestHeader)

@main {

    <div id="onError" class="alert-message error">
        <p>
            <strong></strong> <span></span>
        </p>
    </div>

    <span class="label label-success liveOnAir">On Air <i class="icon-bullhorn"></i></span>
    <span class="label label-important liveOff">Off <i class="icon-ban-circle"></i></span>

    <button type="button" class="btn btn-warning liveOnAir" id="btnStop"><i class="icon-stop"></i></button>
    <button type="button" class="btn btn-success liveOff" id="btnStart"><i class="icon-play"></i></button>

    <div class="row">
        <div class="span4" id="cpu"></div>
        <div class="span4" id="memory"></div>
        <div class="span3" id="action">
            <a class="btn" href="@routes.Monitor.downloadLogFile">Download Logs File</a>
            <hr>
            <button class="btn btn-warning" id="btnGC">Run Garbarge Collect</button>
        </div>
    </div>

    <h3>Logs</h3>
    <div class="row" id="logs">
        <ul>
            @* Intentionally left open, so logs can gradually append as they come *@
    </div>

    <input type="hidden" id="urlWS" value="@routes.Monitor.socket().webSocketURL()">

    <script src="@routes.Assets.at("javascripts/highcharts/highcharts.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/highcharts/highcharts-more.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/soapower/monitor.js")" type="text/javascript"></script>
}
