@()

@main {
    
  Soapower
  <br />
  <a href="@routes.Environments.index()">Admin Environments</a>
  <a href="@routes.Services.index()">Admin Services</a>
  <br /><br />
  Test Request <a href="@routes.Soap.test()">http://localhost:9000/soap/test</a> => take the request on /soap/test and send it to http://localhost:9000/soap/testlog  
  <br><br>
  Exemple of request on Soapower
  <a href="http://localhost:9000/soap/environment1/foo/foo2:9000">http://localhost:9000/soap/environment1/foo/foo2:9000</a>
}