@(content: Html)

<!DOCTYPE html>

<html>
    <head>
        <title>Soapower</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/jquery.dataTables.css") ">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.css") ">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.css") ">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.min.css") ">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/power.png") ">
        <script src="@routes.Assets.at("javascripts/jquery-1.8.3.min.js") " type="text/javascript"></script>
    </head>
    <body>
        <div class="masthead">
            <ul class="nav nav-pills pull-right">
                <li><a href="@routes.Live.index() "><i class="icon-random"></i> Live</a></li>
                <li><a href="@routes.Search.index("all", "all") "><i class="icon-search"></i> Search</a></li>
                <li><a href="@routes.Analysis.index("all", "all") "><i class="icon-eye-open"></i> Analysis</a></li>
                <li><a href="@routes.Monitor.index() "><i class="icon-wrench"></i> Monitoring</a></li>
                <li><a href="@routes.Services.list() "><i class="icon-pencil"></i> Services</a></li>
                <li><a href="@routes.Environments.list() "><i class="icon-pencil"></i> Environments</a></li>
                <li><a href="@routes.Admin.index() "><i class="icon-tasks"></i> Admin</a></li>
            </ul>
            <h3>
                <a class="brand" href="@routes.Application.index() ">
                    <img src="@routes.Assets.at("images/power.png") "> Soapower
                </a>
            </h3>
        </div>

        <hr>

        <div class="container-fluid">
        @content
        </div>
    </body>
</html>
