@(content: Html)

<!DOCTYPE html>

<html>
    <head>
        <title>Soapower</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/power.png")">
        <script src="@routes.Assets.at("javascripts/jquery-1.7.1.min.js")" type="text/javascript"></script>
    </head>
    <body>

    

      <div class="masthead">
        <ul class="nav nav-pills pull-right">
          <li><a href="@routes.Services.index">Services</a></li>
          <li><a href="@routes.Environments.index">Environments</a></li>
        </ul>
        <h3><a class="brand" href="@routes.Application.index"><img src="@routes.Assets.at("images/power.png")">Soapower</a></h3>
      </div>

      <hr>

        <div class="container-fluid">
            @content
        </div>

    </body>
</html>
